/* Estilos para el contenedor principal del Home */
.main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
    padding-top: 100px; /* Ajusta este valor según la altura de tu header */
    padding-bottom: 10px;
  }

  .weather-section {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
  }

  .content-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  
  /* Sección principal para la información */
  .main-section {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Sección lateral para noticias */
  .news-section {
    width: 25%;
    min-width: 200px;
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Secciones de los tops */
.top-section {
  margin-bottom: 20px;
}

.top-section h3 {
  margin-bottom: 10px;
}

.top-section ol {
  padding-left: 20px;
}

.top-section li {
  margin-bottom: 5px;
}

/* Slider de reseñas */
.reviews-slider {
  margin-top: 20px;
}

.slider {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}

.slide {
  min-width: 200px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
  
  /* Estilo responsive para pantallas más pequeñas */
  @media (max-width: 768px) {
    .content-container {
      flex-direction: column;
    }
    .news-section {
      display: none;
    }
  }
  