.titulo {
  font-size: 24px;
  margin-bottom: 20px;
}
.container-list {
  margin-left: 20px;
}
.lista-canciones {
  padding-left: 0;
}

.lista-canciones li {
  display: flex;
  align-items: center;
}

.cancion-numero {
  font-size: 20px;  /* Tamaño del número */
  font-weight: bold;  /* Negrita */
  margin-right: 10px;  /* Espacio entre el número y la canción */
}

.reproductor {
  width: 40%;
  background-color:darkgray;
  display: flex;
  flex-direction: column;
}